header {
    height: 80px;
}

footer {
    height: 30px;
}

main .container {
    width: calc(90vh - 110px);
}

.left-side img {
    width: 80px;
    background-color: lightgray;
}

.right-side button {
    width: 100px;
    border-radius: 10%;
    background-color: rgb(233,233,237);
}

select {
    border-radius: 10%;
    width: 100px;
    background-color: rgb(233,233,237)
}

a {
    color: rgb(94,69,118);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
}

.bomb-cell-bg {
    background-image: url(../img/bomb.png);
    background-size: cover;
}

.active-cell-bg {
    background-color: green;
}

.gameover {
    pointer-events: none;
}